<!-- disclaimer.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>免责声明</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-100 dark:bg-gray-900"> <!-- Set background color -->



    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4">
            <a href="/" class="flex items-center">
                <img src="static/AppleComputerRainbow.svg" class="h-8 mr-3" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Bpple ID
                    Checker</span>
            </a>
            <div class="flex items-center md:order-2">
                <a href="/logout"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Logout</a>
                <button data-collapse-toggle="mega-menu-icons" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="mega-menu-icons" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div id="mega-menu-icons" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
                <ul class="flex flex-col mt-4 font-medium md:flex-row md:space-x-8 md:mt-0">
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-blue-600 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-blue-500 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/my-verification-results"
                            class="block py-2 pl-3 pr-4 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="flex flex-col min-h-screen justify-center items-center py-12">
        <!-- Centered content vertically and horizontally -->

    <section class="container mx-auto mb-10 p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
        <h2 class="text-center text-2xl font-bold mb-6 text-gray-900 dark:text-white">免责声明</h2>
        <div class="text-gray-500 dark:text-gray-400 space-y-4">
            <p class="mb-3">
                本网站提供的信息仅供一般信息参考之用。尽管我们致力于提供准确的最新信息，但不保证网站信息的实时更新及准确性。
            </p>
            <p class="mb-3">
                任何依赖本网站信息的行为均为用户自己的风险。在使用本网站信息时自行承担所有不利后果，本网站不承担任何法律责任。
            </p>
            <p class="mb-3">
                本网站可能包含指向其他第三方网站的链接。这些链接仅为提供更多信息之目的，并不意味着我们认可或负责审查其内容的准确性。用户访问任何通过本网站链接的第三方网站，应自行判断其信息的准确性和可靠性。
            </p>
            <p>
                对于用户通过本网站链接访问的第三方网站内容、产品或服务的准确性和可靠性，我们不作任何形式的保证。我们不参与监控任何第三方网站与用户之间的交易，亦不对此类交易承担任何责任。
            </p>
        </div>
    </section>
</div>

    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/" class="hover:underline">Bpple ID Checker™</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="/disclaimer" class="mr-4 hover:underline md:mr-6 ">免责声明</a>
            </li>
            <li>
                <a href="mailto:kangvcar@gmail.com" class="hover:underline">Contact</a>
            </li>
        </ul>
        </div>
    </footer>

    <script src="static/script.js"></script> <!-- Link to your JavaScript file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
</body>
</html>
